body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* speech bubble css */
.box3 {
  width: fit-content;
  margin: 50px auto;
  border-radius: 15px;
  background: #c3c3c3;
  color: #000000;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  position: relative;
}

/* speech bubble 13 */
.sb13:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #c3c3c3;
  border-right: 15px solid transparent;
  border-top: 15px solid #c3c3c3;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}
